

body { 
  margin: 0;
}

a {
  text-decoration: none;
  color: #202020;
}

a:focus { 
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
  text-decoration: underline;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

b, strong { 
  font-weight: bold; 
}


img { 
  border: solid white 1px;
}

textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}


.hide { display: none; }
.show { display: block; }
.no-margin { margin: 0 !important; }
.no-padding { padding: 0 !important; }
.light-text { color: #808080; }
.small-text { font-size: 13px; }
.strong { font-weight: bold; }
.lh-fix { line-height: 0 !important; }
.clearfix { *zoom: 1; }

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after { clear: both; }

/*
  @@ Body
*/
body {
  text-align: left;
  direction: ltr;
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  font-size: 11px;
}


.container {
  width: 650px;
  height: 100%;
  margin: 0 auto;
}

.content {
  width: 490px;
  margin: 0 auto;

}

div.nicknaam{
margin-left: 65px;
margin-top: -55px;
}

div.nicknaam a{
color: rgba(196, 35, 99, 1);
font-weight: bolder;
font-size: 15px;
}

div.pcontent {
width: 480px;
right: -65px;
top: 3px;
position: relative;
padding-bottom: 24px;
font-size: 14px;
} 

p.content {
font-size: 14px;
margin-left:10px;
} 

/*
  @@ Comments
*/

.comments, .like {
background: rgba(255, 255, 255, 0.81);
padding: 4px;
margin-bottom: 2px;
margin-right: -140px;
}
.like img { margin-right: 5px; }
.color, .color a { color: #3b5998;  }
.links {
width: 120px;
margin-left: 270px;
font-size: 11px;
}

.links a { 
  color: #BE3B8A; 
}

.c_links {
width: 120px;
margin-left: 250px;
font-size: 11px;
}

.c_links a { 
  color: #BE3B8A;
}

.c_link {
font-size: 11px;
margin-left: -15px;
font-size: 11px;
margin-top: -11px;
}

.c_link a { 
  color: #BE3B8A;
  margin-top: -11px;
  margin-left: -80px;
}

.p_link{
font-size: 11px;
margin-left: -14px;
font-size: 11px;
margin-top: -12px;
}

.p_link a{
color: #BE3B8A;
margin-top: -12px;
}

div.time{
margin-top: -5px;
padding-left: 0px;
margin-left: 65px;
padding-top: 5px;
font-size: 13px;
font-style: oblique;
}

div.ptime{
margin-top: -5px;
padding-left: 0px;
margin-left: 63px;
padding-top: 5px;
font-size: 13px;
font-style: oblique;
}

.comments img {
width: 50px;
height: 50px;
border: solid 2px rgba(0, 0, 0, 0.72);
border-top-left-radius: 10px;
border-bottom-right-radius: 10px;
margin-left: 5px;
margin-top: 5px;}

.comment-text {
  margin-left: 8px;
  color: #333;
  line-height: 15px;
  width: 400px;
}

.text-holder {
resize: none;
border: 1px solid rgba(114, 114, 114, 0.47);
margin-top: 8px;
margin-left: -2px;
padding: 3px;
width: 449px;
margin-bottom: 20px;
}

.myButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
  box-shadow:inset 0px 1px 0px 0px #f5978e;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
  background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
  background-color:#f24537;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #d02718;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #810e05;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
  background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
  background-color:#c62d1f;
}
.myButton:active {
  position:relative;
  top:1px;
}
